## CHECKPOINT 5 - QUERY

In [1]:
import matplotlib
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import numpy as np
import psycopg2, os

### Connecting database

In [2]:
conn_url = 'postgresql://postgres:123@localhost/checkpoint5'
engine = create_engine(conn_url)
connection = engine.connect()

conn = psycopg2.connect(
    host="localhost",
    port='5432',
    database="checkpoint5",
    user="postgres",
    password="123")
cur = conn.cursor()

### Creating tables

In [5]:
createTB = """
CREATE TABLE users (
    user_id INTEGER,
    user_name VARCHAR(100),
    user_performance_tier INTEGER,
    PRIMARY KEY(user_id)
);

CREATE TABLE achievement (
    achievement_id INTEGER,
    achievement_type VARCHAR(20),
    PRIMARY KEY(achievement_id)
);

CREATE TABLE user_achievement (
    user_id INTEGER,
    achievement_id INTEGER,
    PRIMARY KEY (user_id, achievement_id),
    FOREIGN KEY(user_id) REFERENCES users(user_id),
    FOREIGN KEY(achievement_id) REFERENCES achievement(achievement_id)
);

CREATE TABLE competition (
    competition_id INTEGER,
    slug VARCHAR(100) NOT NULL,
    title VARCHAR(100) NOT NULL,
    subtitle VARCHAR(250),
    deadline_date DATE,
    has_leaderboard BOOLEAN NOT NULL,
    max_dailysub INTEGER NOT NULL,
    max_teamsize INTEGER NOT NULL,
    reward_type VARCHAR(20),
    reward_quantity NUMERIC(10,2),
    total_teams INTEGER NOT NULL,
    total_subs INTEGER NOT NULL,
    PRIMARY KEY(competition_id)
);

CREATE TABLE team (
    team_id INTEGER,
    team_name VARCHAR(500),
    public_leaderboard_rank INTEGER,
    private_leaderboard_rank INTEGER,
    PRIMARY KEY(team_id)
);

CREATE TABLE submission (
    submission_id INTEGER,
    team_id INTEGER,
    submission_date DATE,
    is_after_deadline BOOLEAN,
    public_leaderboard_score FLOAT,
    PRIMARY KEY(submission_id),
    FOREIGN KEY(team_id) REFERENCES team(team_id)
);

CREATE TABLE team_submission(
    team_id INTEGER,
    submission_id INTEGER,
    PRIMARY KEY(team_id, submission_id),
    FOREIGN KEY(team_id) REFERENCES team(team_id),
    FOREIGN KEY(submission_id) REFERENCES submission(submission_id)
);

CREATE TABLE algorithm (
    algorithm_id INTEGER,
    algorithm_abbr VARCHAR(100),
    algorithm_name VARCHAR(100),
    algorithm_descrip VARCHAR(250),
    PRIMARY KEY(algorithm_id)
);

CREATE TABLE competition_algorithm (
    competition_id INTEGER,
    algorithm_id INTEGER,
    PRIMARY KEY(competition_id, algorithm_id),
    FOREIGN KEY(competition_id) REFERENCES competition(competition_id),
    FOREIGN KEY(algorithm_id) REFERENCES algorithm(algorithm_id)
);


CREATE TABLE tag (
    tag_id INTEGER,
    tag_name VARCHAR(50) NOT NULL,
    fullpath VARCHAR(100) NOT NULL,
    tag_descrip VARCHAR(300),
    datasetcount INTEGER NOT NULL,
    competitioncount INTEGER NOT NULL,
    kernelcount INTEGER NOT NULL,
    PRIMARY KEY(tag_id)
);

CREATE TABLE competition_tag (
    competition_id INTEGER,
    tag_id INTEGER,
    FOREIGN KEY(competition_id) REFERENCES competition(competition_id),
    FOREIGN KEY(tag_id) REFERENCES tag(tag_id)
);

CREATE TABLE organization (
    organization_id INTEGER,
    organization_name VARCHAR(100) NOT NULL,
    organization_descrip VARCHAR(5000),
    PRIMARY KEY(organization_id)
);

CREATE TABLE competition_organization (
    competition_id INTEGER,
    organization_id INTEGER,
    PRIMARY KEY(competition_id),
    FOREIGN KEY(competition_id) REFERENCES competition(competition_id),
    FOREIGN KEY(organization_id) REFERENCES organization(organization_id)
);

CREATE TABLE host (
    host_id INTEGER,
    host_name VARCHAR(100) NOT NULL,
    PRIMARY KEY(host_id)
);

CREATE TABLE competition_host (
    competition_id INTEGER,
    host_id INTEGER,
    PRIMARY KEY(competition_id),
    FOREIGN KEY(competition_id) REFERENCES competition(competition_id),
    FOREIGN KEY(host_id) REFERENCES host(host_id)
);


CREATE TABLE category (
    category_id INTEGER,
    category_name VARCHAR(20) NOT NULL,
    PRIMARY KEY(category_id)
);

CREATE TABLE competition_category (
    competition_id INTEGER,
    category_id INTEGER,
    PRIMARY KEY(competition_id, category_id),
    FOREIGN KEY(competition_id) REFERENCES competition(competition_id),
    FOREIGN KEY(category_id) REFERENCES category(category_id)
);

"""

cur.execute(createTB)
conn.commit()
#16 tables created

In [ ]:
users = pd.read_csv('users.csv')
achievement = pd.read_csv('achievement.csv')
user_achievement = pd.read_csv('user_achievement.csv')
competition = pd.read_csv('competition.csv')

team = pd.read_csv('team.csv')
submission = pd.read_csv('submission.csv')
team_submission = pd.read_csv('team_submission.csv')
algorithm = pd.read_csv('algorithm.csv')
competition_algorithm = pd.read_csv('competition_algorithm.csv')

tag = pd.read_csv('tag.csv')
competition_tag = pd.read_csv('competition_tag.csv')
organization = pd.read_csv('organization.csv')
competition_organization = pd.read_csv('competition_organization.csv')

host = pd.read_csv('host.csv')
competition_host = pd.read_csv('competition_host.csv')
category = pd.read_csv('category.csv')
competition_category = pd.read_csv('competition_category.csv')

### Loading data to pgAdmin4

In [7]:
users.to_sql(
    "users",
    con = engine,
    index = False,
    if_exists = 'append'
)

371

In [8]:
achievement.to_sql(
    "achievement",
    con = engine,
    index = False,
    if_exists = 'append'
)

4

In [9]:
user_achievement.to_sql(
    "user_achievement",
    con = engine,
    index = False,
    if_exists = 'append'
)

483

In [10]:
competition.to_sql(
    "competition",
    con = engine,
    index = False,
    if_exists = 'append'
)

507

In [11]:
team.to_sql(
    "team",
    con = engine,
    index = False,
    if_exists = 'append'
)

211

In [12]:
submission.to_sql(
    "submission",
    con = engine,
    index = False,
    if_exists = 'append'
)

23

In [13]:
team_submission.to_sql(
    "team_submission",
    con = engine,
    index = False,
    if_exists = 'append'
)

23

In [14]:
algorithm.to_sql(
    "algorithm",
    con = engine,
    index = False,
    if_exists = 'append'
)

142

In [15]:
competition_algorithm.to_sql(
    "competition_algorithm",
    con = engine,
    index = False,
    if_exists = 'append'
)

507

In [16]:
tag.to_sql(
    "tag",
    con = engine,
    index = False,
    if_exists = 'append'
)

320

In [17]:
competition_tag.to_sql(
    "competition_tag",
    con = engine,
    index = False,
    if_exists = 'append'
)

699

In [18]:
organization.to_sql(
    "organization",
    con = engine,
    index = False,
    if_exists = 'append'
)

655

In [19]:
competition_organization.to_sql(
    "competition_organization",
    con = engine,
    index = False,
    if_exists = 'append'
)

507

In [20]:
host.to_sql(
    "host",
    con = engine,
    index = False,
    if_exists = 'append'
)

335

In [21]:
competition_host.to_sql(
    "competition_host",
    con = engine,
    index = False,
    if_exists = 'append'
)

507

In [22]:
category.to_sql(
    "category",
    con = engine,
    index = False,
    if_exists = 'append'
)

8

In [23]:
competition_category.to_sql(
    "competition_category",
    con = engine,
    index = False,
    if_exists = 'append'
)

507

### Creating Views for technical analysts

In [3]:
# view 1: pop_competitions: show the most popular competitions amongst all
cur = conn.cursor()
view1 = """
CREATE OR REPLACE view pop_competitions as
SELECT competition_id, slug, title, subtitle, reward_type, reward_quantity, (max_teamsize*total_teams) AS NumberOfParticipant
FROM competition
ORDER BY NumberOfParticipant DESC
LIMIT 5;
"""

cur.execute(view1)
conn.commit()
cur.execute('SELECT * FROM pop_competitions')

In [4]:
#view 2: pop_tags: show the top 20 most frequently used tags across all competitions
cur = conn.cursor()
view2 = """
CREATE OR REPLACE view pop_tags as
SELECT tag_id, tag_name, competitioncount
FROM tag
ORDER BY competitioncount DESC 
LIMIT 20;
"""

cur.execute(view2)
conn.commit()
cur.execute('SELECT * FROM pop_tags')

In [5]:
#view 3: top10_hosts_reward: show the total reward amount by the top 10 hosts who held most competitions
cur = conn.cursor()
view3 = """
CREATE OR REPLACE view top10_hosts_reward as
SELECT host.host_name, count(competition.competition_id) AS NumberOfCompetition, SUM(competition.reward_quantity) as TotalReward
FROM competition, competition_host, host
WHERE competition.competition_id = competition_host.competition_id 
 AND competition_host.host_id = host.host_id 
 AND competition.reward_quantity IS NOT NULL
GROUP BY host.host_name
ORDER BY NumberOfCompetition DESC
LIMIT 10;
"""

cur.execute(view3)
conn.commit()
cur.execute('SELECT * FROM top10_hosts_reward')

In [6]:
#view 4: top3_category: show top 3 popular competition categories
cur = conn.cursor()
view4 = """
CREATE OR REPLACE view top3_category as
SELECT category.category_id, category.category_name, COUNT(competition_category.competition_id)
FROM category, competition_category
WHERE category.category_id = competition_category.category_id
GROUP BY category.category_name, category.category_id
ORDER BY COUNT(competition_category.competition_id) DESC
LIMIT 3;
"""

cur.execute(view4)
conn.commit()
cur.execute('SELECT * FROM top3_category')

In [7]:
#view 5: top5_orgs: show top 5 organizations that frequently held competitions on Kaggle
cur = conn.cursor()
view5 = """
CREATE OR REPLACE view top5_orgs as
SELECT organization.organization_id, organization.organization_name, COUNT(competition_organization.competition_id)
FROM organization, competition_organization
WHERE organization.organization_id = competition_organization.organization_id
GROUP BY organization.organization_id, organization.organization_name
ORDER BY COUNT(competition_organization.competition_id) DESC
LIMIT 5;
"""

cur.execute(view5)
conn.commit()
cur.execute('SELECT * FROM top5_orgs')

In [8]:
#view 6: most_subs: show the top 10 teams that created the highest number of submissions
cur = conn.cursor()
view6 = """
CREATE OR REPLACE view most_subs as
SELECT team.team_id, team.team_name, count(submission_id) AS NumberSubmission
FROM submission, team
WHERE team.team_id = submission.team_id
GROUP BY team.team_id, team.team_name
ORDER BY NumberSubmission DESC 
LIMIT 10;
"""

cur.execute(view6)
conn.commit()
cur.execute('SELECT * FROM most_subs')

In [9]:
#view 7: reward_per_participant: find the reward for each participant in the winning team, based on different competitions
cur = conn.cursor()
view7 = """
CREATE OR REPLACE view reward_per_participant as
SELECT competition_id, title, slug, (reward_quantity/max_teamsize) AS AverageParticipantReward
FROM competition
WHERE reward_quantity/max_teamsize IS NOT NULL
ORDER BY AverageParticipantReward DESC;
"""

cur.execute(view7)
conn.commit()
cur.execute('SELECT * FROM reward_per_participant')

In [10]:
#view 8: pop_algorithms: understanding which algorithm(s) used the most for competitions' evaluations
cur = conn.cursor()
view8 = """
CREATE OR REPLACE view pop_algorithms as
SELECT algorithm.algorithm_id, algorithm.algorithm_abbr, algorithm.algorithm_name, COUNT(competition_algorithm.competition_id)
FROM algorithm, competition_algorithm
WHERE algorithm.algorithm_id = competition_algorithm.algorithm_id
GROUP BY algorithm.algorithm_id, algorithm.algorithm_abbr, algorithm.algorithm_name
ORDER BY COUNT(competition_algorithm.competition_id)DESC;
"""

cur.execute(view8)
conn.commit()
cur.execute('SELECT * FROM pop_algorithms')

In [11]:
#view 9: leaderboard_effect: understand if the existance of leaderboard will engage more participants or not
cur = conn.cursor()
view9 = """
CREATE OR REPLACE view leaderboard_effect as
SELECT competition.has_leaderboard, COUNT(competition_id)
FROM competition
GROUP BY competition.has_leaderboard
ORDER BY COUNT(competition_id) DESC 
"""

cur.execute(view9)
conn.commit()
cur.execute('SELECT * FROM leaderboard_effect')

In [12]:
#view 10: competition_year_trend: find number of competitions held in each year
cur = conn.cursor()
view10 = """
CREATE OR REPLACE view competition_year_trend as
SELECT EXTRACT(YEAR FROM deadline_date), count(competition_id) AS NumberOfSubmission
FROM competition
GROUP BY EXTRACT(YEAR FROM deadline_date)
ORDER BY NumberOfSubmission DESC;
"""

cur.execute(view10)
conn.commit()
cur.execute('SELECT * FROM competition_year_trend')

In [13]:
#view 11: competition_2020: find number of competitions held in each month in the year 2020
cur = conn.cursor()
view11 = """
CREATE OR REPLACE view competition_2020 as
SELECT EXTRACT(MONTH FROM deadline_date) AS Month2020, COUNT (competition_id) AS Numberofcompetitions
FROM competition
WHERE EXTRACT(YEAR FROM deadline_date) = '2020'
GROUP BY EXTRACT(MONTH FROM deadline_date);
"""

cur.execute(view11)
conn.commit()
cur.execute('SELECT * FROM competition_2020')

In [14]:
#view 12: competition_2021: find number of competitions held in each month in the year 2022
cur = conn.cursor()
view12 = """
CREATE OR REPLACE view competition_2021 as
SELECT EXTRACT(MONTH FROM deadline_date) AS Month2020, COUNT (competition_id) AS Numberofcompetitions
FROM competition
WHERE EXTRACT(YEAR FROM deadline_date) = '2021'
GROUP BY EXTRACT(MONTH FROM deadline_date);
"""

cur.execute(view12)
conn.commit()
cur.execute('SELECT * FROM competition_2021')

In [15]:
#view 13: top_reward: highest reward given
cur = conn.cursor()
view13 = """
CREATE OR REPLACE view top_reward as
SELECT host.host_name, SUM(competition.reward_quantity) as TotalReward
FROM competition, competition_host, host
WHERE competition.competition_id = competition_host.competition_id 
	AND competition_host.host_id = host.host_id 
	AND competition.reward_quantity IS NOT NULL
GROUP BY host.host_name
ORDER BY TotalReward DESC
LIMIT 5;
"""

cur.execute(view13)
conn.commit()
cur.execute('SELECT * FROM top_reward')